span.tagcloud0 A:link {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}
span.tagcloud0 A:active {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}
span.tagcloud0 A:visited {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}
span.tagcloud0 A:hover {
	COLOR: #95DEFF;
	TEXT-DECORATION: underline;
}
span.tagcloud0 {
    font-size: 12px !important;
}
span.tagcloud1 A:link {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}              
span.tagcloud1 A:active {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}              
span.tagcloud1 A:visited {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}              
span.tagcloud1 A:hover {
	COLOR: #95DEFF;
	TEXT-DECORATION: underline;
}
span.tagcloud1 {
    font-size: 13px !important;
}
span.tagcloud2 A:link {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}             
span.tagcloud2 A:active {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}             
span.tagcloud2 A:visited {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}             
span.tagcloud2 A:hover {
	COLOR: #95DEFF;
	TEXT-DECORATION: underline;
}
span.tagcloud2 {
    font-size: 14px !important;
}
span.tagcloud3 A:link {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}
span.tagcloud3 A:active {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}
span.tagcloud3 A:visited {
	COLOR: #95DEFF;
	TEXT-DECORATION: none;
}
span.tagcloud3 A:hover {
	COLOR: #95DEFF;
	TEXT-DECORATION: underline;
}
span.tagcloud3 {
    font-size: 15px !important;
}
span.tagcloud4 A:link {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud4 A:active {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud4 A:visited {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud4 A:hover {
	COLOR: #6FCFFF;
	TEXT-DECORATION: underline;
}
span.tagcloud4 {
    font-size: 16px !important;
}
span.tagcloud5 A:link {
	COLOR: #6FCFFF;	
	TEXT-DECORATION: none;
}
span.tagcloud5 A:active {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud5 A:visited {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud5 A:hover {
	COLOR: #6FCFFF;
	TEXT-DECORATION: underline;
}
span.tagcloud5 {
    font-size: 17px !important;
}
span.tagcloud6 A:link {
	COLOR: #6FCFFF;	
	TEXT-DECORATION: none;
}
span.tagcloud6 A:active {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud6 A:visited {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud6 A:hover {
	COLOR: #6FCFFF;
	TEXT-DECORATION: underline;
}
span.tagcloud6 {
    font-size: 18px !important;
}
span.tagcloud7 A:link {
	COLOR: #6FCFFF;	
	TEXT-DECORATION: none;
}
span.tagcloud7 A:active {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud7 A:visited {
	COLOR: #6FCFFF;
	TEXT-DECORATION: none;
}
span.tagcloud7 A:hover {
	COLOR: #6FCFFF;
	TEXT-DECORATION: underline;
}
span.tagcloud7 {
    font-size: 19px !important;
}
span.tagcloud8 A:link {
	COLOR: #4CC1FF;	
	TEXT-DECORATION: none;
}
span.tagcloud8 A:active {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud8 A:visited {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud8 A:hover {
	COLOR: #4CC1FF;
	TEXT-DECORATION: underline;
}
span.tagcloud8 {
    font-size: 20px !important;
}
span.tagcloud9 A:link {
	COLOR: #4CC1FF;	
	TEXT-DECORATION: none;
}
span.tagcloud9 A:active {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud9 A:visited {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud9 A:hover {
	COLOR: #4CC1FF;
	TEXT-DECORATION: underline;
}
span.tagcloud9 {
    font-size: 21px !important;
}
span.tagcloud10 A:link {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud10 A:active {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud10 A:visited {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud10 A:hover {
	COLOR: #4CC1FF;
	TEXT-DECORATION: underline;
}
span.tagcloud10 {
    font-size: 22px !important;
}
span.tagcloud11 A:link {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud11 A:active {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud11 A:visited {
	COLOR: #4CC1FF;
	TEXT-DECORATION: none;
}
span.tagcloud11 A:hover {
	COLOR: #4CC1FF;
	TEXT-DECORATION: underline;
}
span.tagcloud11 {
    font-size: 23px !important;
}
span.tagcloud12 A:link {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud12 A:active {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud12 A:visited {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud12 A:hover {
	COLOR: #38B9FF;
	TEXT-DECORATION: underline;
}
span.tagcloud12 {
    font-size: 24px !important;
}
span.tagcloud13 A:link {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud13 A:active {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud13 A:visited {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud13 A:hover {
	COLOR: #38B9FF;
	TEXT-DECORATION: underline;
}
span.tagcloud13 {
    font-size: 25px !important;
}
span.tagcloud14 A:link {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud14 A:active {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud14 A:visited {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud14 A:hover {
	COLOR: #38B9FF;
	TEXT-DECORATION: underline;
}
span.tagcloud14 {
    font-size: 26px !important;
}
span.tagcloud15 A:link {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud15 A:active {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud15 A:visited {
	COLOR: #38B9FF;
	TEXT-DECORATION: none;
}
span.tagcloud15 A:hover {
	COLOR: #38B9FF;
	TEXT-DECORATION: underline;
}
span.tagcloud15 {
    font-size: 27px !important;
}
span.tagcloud16 A:link {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud16 A:active {
	COLOR: #27B2FF;	
	TEXT-DECORATION: none;
}
span.tagcloud16 A:visited {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud16 A:hover {
	COLOR: #27B2FF;
	TEXT-DECORATION: underline;
}
span.tagcloud16 {
    font-size: 28px !important;
}
span.tagcloud17 A:link {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud17 A:active {
	COLOR: #27B2FF;	
	TEXT-DECORATION: none;
}
span.tagcloud17 A:visited {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud17 A:hover {
	COLOR: #27B2FF;
	TEXT-DECORATION: underline;
}
span.tagcloud17 {
    font-size: 29px !important;
}
span.tagcloud18 A:link {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud18 A:active {
	COLOR: #27B2FF;	
	TEXT-DECORATION: none;
}
span.tagcloud18 A:visited {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud18 A:hover {
	COLOR: #27B2FF;
	TEXT-DECORATION: underline;
}
span.tagcloud18 {
    font-size: 30px !important;
}
span.tagcloud19 A:link {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud19 A:active {
	COLOR: #27B2FF;	
	TEXT-DECORATION: none;
}
span.tagcloud19 A:visited {
	COLOR: #27B2FF;
	TEXT-DECORATION: none;
}
span.tagcloud19 {
    font-size: 31px !important;
}
span.tagcloud19 A:hover {
    COLOR: #27B2FF;
	TEXT-DECORATION: underline;
}
span.tagcloud20 A:link {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud20 A:active {
	COLOR: #01A3FF;	
	TEXT-DECORATION: none;
}
span.tagcloud20 A:visited {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud20 A:hover {
	COLOR: #01A3FF;
	TEXT-DECORATION: underline;
}
span.tagcloud20 {
    font-size: 32px !important;
}
span.tagcloud21 A:link {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud21 A:active {
	COLOR: #01A3FF;	
	TEXT-DECORATION: none;
}
span.tagcloud21 A:visited {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud21 A:hover {
	COLOR: #01A3FF;
	TEXT-DECORATION: underline;
}
span.tagcloud21 {
    font-size: 33px !important;
}
span.tagcloud22 A:link {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud22 A:active {
	COLOR: #01A3FF;	
	TEXT-DECORATION: none;
}
span.tagcloud22 A:visited {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud22 A:hover {
	COLOR: #01A3FF;
	TEXT-DECORATION: underline;
}
span.tagcloud22 {
    font-size: 34px !important;
}
span.tagcloud23 A:link {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud23 A:active {
	COLOR: #01A3FF;	
	TEXT-DECORATION: none;
}
span.tagcloud23 A:visited {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud23 A:hover {
	COLOR: #01A3FF;
	TEXT-DECORATION: underline;
}
span.tagcloud23 {
    font-size: 35px !important;
}
span.tagcloud24 A:link {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud24 A:active {
	COLOR: #01A3FF;	
	TEXT-DECORATION: none;
}
span.tagcloud24 A:visited {
	COLOR: #01A3FF;
	TEXT-DECORATION: none;
}
span.tagcloud24 A:hover {
	COLOR: #01A3FF;
	TEXT-DECORATION: underline;
}
span.tagcloud24 {
    font-size: 36px !important;
}