<div id="wrapper">
    <div id="contenudroite_cloudtitle">2. [% c.localize('cloudtitle') %] "<i>[% query %]</i>"</div>
    <div id="contenudroite_cloudcontent">
		
    <div id="cloudcontent_options">
        > <a href="/[% cloud_permalink %]">[% c.localize('permalinkstr') %]</a><br />
    </div>

    [% IF cloud %] 
        <div id="cloud">[% cloud %]</div>
    [% ELSE %]
        <div id="error">[% no_suggest %]</div>
    [% END %]

</div>