
<!-- FOOTER COPYRIGHTS -->
<div id="page_footer">
(k) <a href="http://www.tirnan0g.org">TirNanOg</a> 2006 all rights reversed. <a href="http://www.bwoup.com"><img src="/static/images/p_bwoup.gif" class="bwoup" alt="design : bwoup.com"></a>
</div>

</body>
</html>
